.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
}

.name {
    border-bottom: none;
    margin: 0 0 0 2rem;
}

.navlink {
    display: block;
    font-size: auto;
    margin: 0 10px;
}

article {
    margin: 2rem;
}

.sidebar {
    display: none;
}

.rightsb {
    display: none;
}

.footer {
  display: none;
}
}