body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  height: 100vh;
}

.wrapper {
  background-image: url('http://timeinc.brightcove.com.edgesuite.net/rtmp_uds/474428695/201703/1652/474428695_5353809197001_5351116038001-th.jpg?pubId=474428695&videoId=5351116038001');
  /* image taken from - http://timeinc.brightcove.com.edgesuite.net/rtmp_uds/474428695/201703/1652/474428695_5353809197001_5351116038001-th.jpg?pubId=474428695&videoId=5351116038001 */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
}

.content {
  background: rgba(0, 0, 0, 0.8);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 0 20%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2% 0 0 0;
}

.name {
  color: white;
  font-size: 2em;
}

.navlinks {
  font-size: 1.2em;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 0 0 2%;
}

.navlink{
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fdda7c;
  text-decoration: underline;
}

.lower-content {
  margin: 20% 0 0 0;
  font-size: 3em;
  color: white;
}

.description {
  position: relative;
  font-size: 1.25em;
  color: white;
  margin: 5% 0 0 0;
}

#projects-title {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 9% 0 0 0;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 1% 5%;
}

.screenshot {
  border-style: outset;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 2%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

#portrait-wrapper {
  display: flex;
  justify-content: center;
}

#portrait {
  padding: 2% 0;
  width: 15%;
  height: 15%;
}
